
body{
	background-color: #e8e8e8;
  font-family: 'Ubuntu', sans-serif;
}






button{
  margin-top:20%;
}

ul{
	list-style-type: none;
	display:inline-block;
}




.character_container{
	position: relative;
	width: 700px;
	height: 700px;
	align-items: center;
}




.character{
	width: 700px;
	height: 700px;
	position:absolute;
	z-index: -1;
}

.asset_wrapper{
	width: 700px;
	height:700px;
	position: relative;	

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}

.top{
	width: 250px;
	height: 250px;
	padding-top: 366px;
	padding-left: 20px;
	position:absolute;
	z-index: 10;
   }


 

.bot{
	width: 360px;
	height: 300px;
	position:absolute;
	padding-left: 7px;
	padding-top: 600px;
	z-index: 2;
   }

   .hair_front{
	width: 700px;
	height: 700px;
	position:absolute;
	z-index: 12;

   }

   .hair_back{
	width: 700px;
	height: 700px;
	position:absolute;
	z-index: -10;

   }


   .shoes{
	width: 180px;
	height: 100px;
	position:absolute;
	padding-left: 24px;
	padding-top: 540px;
	z-index: 1;
   }



   .overall{
	width: 700px;
	height: 700px;
	position:absolute;
	z-index: 15;

   }

   .costum{
	width: 900px;
	height: 900px;
	position:absolute;
	z-index: 16;
	margin-top: -120px;
	padding-left: 29px;

   }
